html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: #f2f2f2;
    padding: 1rem;
}

h1 {
    font-family: meatball,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8rem;
}

.centered {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    padding-bottom: 0.25rem;
    margin: 0 1rem;
    font-size: 1.1rem;
    text-decoration: none;
}

.menu a.current {
    border-bottom: 2px solid #000;
}