html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: #f2f2f2;
    padding: 1rem;
}

h1 {
    font-family: meatball,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8rem;
}

.centered {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.menu a {
    padding-bottom: 0.25rem;
    margin: 0 1rem;
    font-size: 1.1rem;
    text-decoration: none;
}

.menu a,
.menu a:visited {
    color: black;
}

.menu a:hover {
    border-bottom: 2px solid #cc6666;
}

.menu a.current {
    border-bottom: 2px solid #000;
}

.profile-section {
    display: flex;
    justify-content: center;
}

.two-column {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 60vw;
    margin-bottom: 1rem;
}

.profile-section img {
    max-width: 20vw;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

.profile-text {
    flex: 1;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    background-color: #e8e8e8;
    text-align: center;
}

.image img {
    width: 30vw;
    max-height: 128px;
    object-fit: cover;
}

.image label {
    padding-top: 0.5rem;
}
